body {
  background-image: url(wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.container-wrapper {
  max-width: 700px;
  margin: 20px auto;
}
.container {
  padding: 18px;
  border: 2px;
}
.card {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}
.description,
.main-city,
.current-temp {
  text-shadow: 0 0 8px #853d91;
}
.main-city {
  font-size: 70px;
  font-family: "Cookie", cursive;
  display: inline-block;
  margin-bottom: 0;
}
h2,
.row,
.col {
  font-family: "PT Serif", serif;
}
.row {
  font-size: 17px;
  list-style-type: none;
}
.row ::first-letter {
  text-transform: capitalize;
}

.units .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.units .active:hover {
  text-decoration: none;
}
h2 {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}
.current-temp {
  font-size: 40px;
  font-weight: 900;
}
.btn {
  padding: 3.5px 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  border: 1px;
  background-color: #9a52a5;
  transition: 400ms ease-in-out;
}
.btn:hover {
  background-color: #853d91;
  text-shadow: 0 0 3px #fff;
}
.enter-city {
  padding: auto 5px;
  border-radius: 4px;
}
footer {
  font-size: 12px;
  text-align: right;
}

.humiwind {
  list-style: none;
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}
.datesky {
  text-align: left;
}
footer a {
  color: #853d91;
  font-weight: 500;
  text-decoration: none;
  transition: 200ms ease-in-out;
}
footer a:hover {
  font-weight: bolder;
}
