.WeatherForecast {
  font-weight: bolder;
  font-size: 15px;
  opacity: 0.8;
  text-align: center;
  margin-bottom: 15px;
}
.WeatherForecast-temperature {
  font-size: 13px;
}
.WeatherForecast-temperature-min {
  opacity: 0.8;
  margin-left: 5px;
}
canvas {
  display: inline-flex;
  margin: 0px 20px 0px 20px;
}
.WeatherForecast-day,
.WeatherForecast-temperature {
  margin: 0px 20px 0px 20px;
}
